.App {
  display: flex;
  margin-top: 11%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

input {
  height: 100px;
  width: 270px;
  margin: 10px;
  border-radius: 3%;
  background: #B2BDFB;
  color: #FEFEFE;
  font-size: 60px;
  text-align: center;
}

button {
  height: 80px;
  width: 220px;
  margin-top: 1%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background: #1F53E5;
  color: #FEFEFE;
  font-size: 50px;
}

.result {
  margin-top: 1%;
  font-size: 60px;
}